*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: rgb(94, 42, 237);
}

a {
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* INDEX CSS */

.homeBody {
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 35px;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -25px;
}

.mainText > h1 {
    font-size: 76px;
    font-weight: 600;
}

.mainText > p {
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.buttons > a {
    border: 2px solid var(--button-color);
    width: 100px;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
}

#gallery {
    color: white;
    background-color: var(--button-color);
}

#aboutMe {
    color: var(--button-color);
}

.buttons > a:hover , #contactButton:hover{
    filter: brightness(75%);
}

#contactButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 5px 10px;
    background-color: rgba(223, 220, 220, 0.629);
    color: rgb(76, 76, 76);
    display: flex;
    gap: 4px;
    border-radius: 25px;
}

/* ABOUT ME CSS */
.aboutBody {
    background-image: url("./img/aboutbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#goHome {
    background-color: grey;
    padding: 7px 7px 3px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#goHome:hover {
    filter: brightness(75%);
}

.profile {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.217);
    width: 60vw;
    align-items: center;
    padding: 20px 20px 0px;
    justify-content: center;
    color: white;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-top: -25px;
}

.profile > img {
    height: 450px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0px;
}

.greeting {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description > p {
    text-align: justify;
    width: 470px;
}

.hobbies > ul > li {
    margin-left: 22px;
}


/* GALLERY CSS */
.galleryBody {
    background-image: url("./img/gallerybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#back {
    background-color: grey;
    padding: 5px 7px 3px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#back:hover {
    filter: brightness(75%);
}

.galleryBody > h1 {
    color: white;
    margin: 10px;
    font-size: 2vw;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    column-gap: 1vw;
    row-gap: 2vh;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 20px;
    border-radius: 47px;
}

.post {
    background-color: white;
    padding: 0.5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 27px;
}

.postImg {
    width: 15vw;
    height: 9vw;
    border-radius: 25px;
    object-fit: cover;
}

.postImg:hover {
    cursor: pointer;
}

.post > p {
    font-size: 1.2vw;
    margin-top: 0.5vw;
    font-weight: 600;
}

.bigImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.bigImageContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.57);
}

.bigImage:hover {
    cursor: pointer;
}

/* CONTACT US */

.contactBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./img/contactbg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contactBack {
    position: absolute;
    left: 0;
    top:0;
    margin: 20px;
    color: black;
    border-radius: 100%;
    background-color: white;
    padding: 7px 10px 4px;
}

#contactBack:hover, form > button:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.contactMain {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.442);
    padding: 30px 50px;
    gap: 50px;
    border-radius: 25px;
}

.Input {
    display: flex;
}

.git {
    width: 450px;
}

.git > h3 {
    font-weight: 1000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Input > input {
    margin: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(66, 66, 66);
    background-color: white;
    color: rgb(66, 66, 66);
    font-weight: 1000;
    padding: 10px;
}

textarea {
    background-color: white;
    color: rgb(66, 66, 66);
    font-weight: 1000;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(66, 66, 66);
}

form > button {
    font-weight: 1000;
    padding: 5px 20px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid rgb(66, 66, 66);
    background-color: white;
    color: rgb(66, 66, 66);
}

/*SVG*/
.ion--home {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M261.56 101.28a8 8 0 0 0-11.06 0L66.4 277.15a8 8 0 0 0-2.47 5.79L63.9 448a32 32 0 0 0 32 32H192a16 16 0 0 0 16-16V328a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v136a16 16 0 0 0 16 16h96.06a32 32 0 0 0 32-32V282.94a8 8 0 0 0-2.47-5.79Z'/%3E%3Cpath fill='%23000' d='m490.91 244.15l-74.8-71.56V64a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0 0 43 267.56L250.5 69.28a8 8 0 0 1 11.06 0l207.52 198.28a16 16 0 0 0 22.59-.44c6.14-6.36 5.63-16.86-.76-22.97'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-park-solid--back {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' fill-rule='evenodd' stroke='%23000' stroke-linejoin='round' stroke-width='4' d='M44 40.836c-4.893-5.973-9.238-9.362-13.036-10.168c-3.797-.805-7.412-.927-10.846-.365V41L4 23.545L20.118 7v10.167c6.349.05 11.746 2.328 16.192 6.833c4.445 4.505 7.009 10.117 7.69 16.836Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .ion--call {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M391 480c-19.52 0-46.94-7.06-88-30c-49.93-28-88.55-53.85-138.21-103.38C116.91 298.77 93.61 267.79 61 208.45c-36.84-67-30.56-102.12-23.54-117.13C45.82 73.38 58.16 62.65 74.11 52a176.3 176.3 0 0 1 28.64-15.2c1-.43 1.93-.84 2.76-1.21c4.95-2.23 12.45-5.6 21.95-2c6.34 2.38 12 7.25 20.86 16c18.17 17.92 43 57.83 52.16 77.43c6.15 13.21 10.22 21.93 10.23 31.71c0 11.45-5.76 20.28-12.75 29.81c-1.31 1.79-2.61 3.5-3.87 5.16c-7.61 10-9.28 12.89-8.18 18.05c2.23 10.37 18.86 41.24 46.19 68.51s57.31 42.85 67.72 45.07c5.38 1.15 8.33-.59 18.65-8.47c1.48-1.13 3-2.3 4.59-3.47c10.66-7.93 19.08-13.54 30.26-13.54h.06c9.73 0 18.06 4.22 31.86 11.18c18 9.08 59.11 33.59 77.14 51.78c8.77 8.84 13.66 14.48 16.05 20.81c3.6 9.53.21 17-2 22c-.37.83-.78 1.74-1.21 2.75a176.49 176.49 0 0 1-15.29 28.58c-10.63 15.9-21.4 28.21-39.38 36.58A67.42 67.42 0 0 1 391 480'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .solar--letter-bold {
    display: inline-block;
    width: 150px;
    height: 150px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3.172 5.172C2 6.343 2 8.229 2 12c0 3.771 0 5.657 1.172 6.828C4.343 20 6.229 20 10 20h4c3.771 0 5.657 0 6.828-1.172C22 17.657 22 15.771 22 12c0-3.771 0-5.657-1.172-6.828C19.657 4 17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172M18.576 7.52a.75.75 0 0 1-.096 1.056l-2.196 1.83c-.887.74-1.605 1.338-2.24 1.746c-.66.425-1.303.693-2.044.693c-.741 0-1.384-.269-2.045-.693c-.634-.408-1.352-1.007-2.239-1.745L5.52 8.577a.75.75 0 0 1 .96-1.153l2.16 1.799c.933.777 1.58 1.315 2.128 1.667c.529.34.888.455 1.233.455c.345 0 .704-.114 1.233-.455c.547-.352 1.195-.89 2.128-1.667l2.159-1.8a.75.75 0 0 1 1.056.097' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .mingcute--back-fill {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M2.614 5.426A1.5 1.5 0 0 1 4 4.5h10a7.5 7.5 0 1 1 0 15H5a1.5 1.5 0 0 1 0-3h9a4.5 4.5 0 1 0 0-9H7.621l.94.94a1.5 1.5 0 0 1-2.122 2.12l-3.5-3.5a1.5 1.5 0 0 1-.325-1.634'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  /**/